<% @all_reg_users.each do |user| %>
	<ul id="user-<%= user.id %>-info" >
		<li><%= link_to user.name, admin_user_path(user) %></li>	
		<li><%= user.created_at.strftime("%m-%d-%Y") %></li>	
		<li><%= button_to "Upgrade to Merchant" %></li>
	</ul>
<% end %>
